<section id="data_table" class="container">
  <h3>Posts</h3>
  <table class="table table-dark table-borderless table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Post ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{data.postId}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.body}}</td>
      </tr>
    </tbody>
  </table>
</section>